cfgv==3.4.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
distlib==0.3.7
filelock==3.12.4
fonttools==4.38.0
identify==2.5.29
keyboard==0.13.5
kiwisolver==1.4.4
math-base==0.1.3
matplotlib==3.7.1
mccabe==0.7.0
mpmath==1.2.1
nodeenv==1.8.0
numpy==1.23.4
packaging==21.3
pandas==2.0.1
Pillow==9.3.0
platformdirs==3.10.0
psutil==5.9.4
pycodestyle==2.11.0
pyflakes==3.1.0
pygame==2.5.2
pynput==1.7.6
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
pywin32==305
PyYAML==6.0.1
scipy==1.10.1
seaborn==0.12.2
six==1.16.0
sympy==1.11.1
tzdata==2023.3
virtualenv==20.24.5
WMI==1.5.1
